@import './common';
// @import './example';

@import './utils/variables';
@import './utils/reset';
@import './components/products';
@import './components/hero';
@import './components/header';
@import './components/advantages';
@import './components/contacts';