.header,
.hero{
    background-color: $background-color;
}
.contacts-background{
    background-image: linear-gradient(to bottom,
                transparent 350px,
                $background-color 350px);
    
        @media screen and (min-width: 768px) {
            background-image: linear-gradient(to bottom,
                    transparent 300px,
                    $background-color 300px);
        }
    
        @media screen and (min-width: 1200px) {
            background-image: linear-gradient(to bottom,
                    transparent 126px,
                    $background-color 126px);
        }
}