<section class="about">
    <div class="about-container">
        <h1 class="about__label">tradition and love</h1>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__box">
        <img srcset="../images/about/cow280.jpg 280w,
        ../images/about/cow330.jpg 330w,
        ../images/about/cow491.jpg 491w,
        ../images/about/cow560.jpg 560w,
        ../images/about/cow660.jpg 660w,
        ../images/about/cow982.jpg 982w"
        sizes="(min-width: 1200px) 280px, (min-width: 768px) 330px, (min-width: 480px) 491px, 100vw"
        src="../images/about/cow491.jpg"
        alt="Cow"
        width="491"
        height="529"/>
       <ul class="about__content">
        <li class="about__text">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. </li>
        <li class="about__text">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. </li>
       </ul>
       <button type="button" class="about-button">
        <span class="about-button__text">Read more</span>
        <svg class="about-button__icon" width="12" height="12">
            <use href="../images/about/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
       </button>
        </div>
        <ul class="about__list">
            <li class="about__item">
                <div class="about__thumb">
                    <svg class="about__icon" width="36" height="36">
                        <use href="../images/about/symbol-defs.svg#icon-cow"></use>
                    </svg>
                </div>
                <h3 class="about__name">721</h3>
                <p class="about__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="about__item">
                <div class="about__thumb">
                    <svg class="about__icon" width="36" height="36">
                        <use href="../images/about/symbol-defs.svg#icon-weight"></use>
                    </svg>
                </div>
                <h3 class="about__name">16kg</h3>
                <p class="about__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="about__item">
                <div class="about__thumb">
                    <svg class="about__icon" width="36" height="36">
                        <use href="../images/about/symbol-defs.svg#icon-ice-crema"></use>
                    </svg>
                </div>
                <h3 class="about__name">84</h3>
                <p class="about__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>