<!-- <div class="modal-about__backdrop" data-modal="1">
    <div class="modal-about">
        <button class="modal-about__btn-close" data-modal-close="1">
            <svg class="modal-about__close-icon">
                <use href="./images/header/icons.svg#icon_close"></use>
            </svg>
        </button>
        <h2 class="modal-about__title">How it’s made?</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LhDS2-PNiBE" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="modal-about__video"></iframe>

        <p class="modal-about__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem
            ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
    </div> -->
    <div class="modal-about__backdrop is-hidden" data-modal="111">
        <div class="modal-about">
            <button class="modal-about__btn-close" data-modal-close="111">
                <svg class="modal-about__close-icon">
                    <use href="./images/header/icons.svg#icon_close"></use>
                </svg>
            </button>
            <h2 class="modal-about__title">How it’s made?</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LhDS2-PNiBE" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="modal-about__video"></iframe>
    
            <p class="modal-about__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                Lorem
                ipsum dolor
                sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
        </div>
        </section>
