<!-- Секція "Контакти" -->
<section class="section contacts contacts-background" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <span class="contacts__label">CAFE</span>
        <address class="contacts__address">
          <span class="contacts__title">Chicago</span>
          <a
            target="_blank"
            class="contacts__title location"
            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+Сполучені+Штати+Америки/@41.7034016,-87.7797405,17z/data=!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </address>

        <div class="contacts__schedule">
          <p class="contacts__title">Monday - Friday</p>
          <p class="contacts__title time">06:00 AM - 10:00 PM</p>

          <p class="contacts__title weekend">Saturday - Sunday</p>
          <p class="contacts__title time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address class="contacts__title">
            <a class="contacts__tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com
            </a>
          </address>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__label food">FOOD TRUCK</p>
        <address class="contacts__address">
          <span class="contacts__title">Los Angeles</span>
          <a
            target="_blank"
            class="contacts__title location"
            href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+Сполучені+Штати+Америки/@33.8835263,-118.4103286,17z/data=!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </a>
        </address>

        <div class="contacts__schedule">
          <p class="contacts__title">Monday - Friday</p>
          <p class="contacts__title time">06:00 AM - 10:00 PM</p>

          <p class="contacts__title weekend">Saturday - Sunday</p>
          <p class="contacts__title time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address class="contacts__title">
            <a class="contacts__tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com
            </a>
          </address>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__label">CAFE</p>
        <address class="contacts__address">
          <span class="contacts__title">Los Angeles</span>
          <a
            target="_blank"
            class="contacts__title location"
            href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+Сполучені+Штати+Америки/@40.6726938,-73.954734,17z/data=!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>

        <div class="contacts__schedule">
          <p class="contacts__title">Monday - Friday</p>
          <p class="contacts__title time">06:00 AM - 10:00 PM</p>

          <p class="contacts__title weekend">Saturday - Sunday</p>
          <p class="contacts__title time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address class="contacts__title">
            <a class="contacts__tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com
            </a>
          </address>
        </div>
      </li>
    </ul>
    <div class="contacts__btn-wrap">
      <button
        class="contacts__btn contacts__btn--orange"
        type="button"
        data-modal-open="5"
      >
        Our Locations

        <svg class="contacts__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-about"></use>
        </svg>
      </button>
      <button
        class="contacts__btn contacts__btn--transparent"
        type="button"
        data-modal-open="6"
      >
        Franchise

        <svg class="contacts__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-about"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- Модальне вікно "Наші локації" -->
<div class="backdrop is-hidden" data-modal="5">
  <div class="contacts-modal">
    <button class="contacts-modal-btn" type="button" data-modal-close="5">
      <svg class="contacts-modal-close" width="24" height="24">
        <use href="./images/icons.svg#icon-close-m"></use>
      </svg>
    </button>
    <form class="contacts-modal-form">
      <h2 class="contacts-modal-title">Our Locations</h2>
      <iframe
        class="location-picture"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2322.371221614389!2d18.570346799999996!3d54.403420399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd752e64ecb627%3A0x85a6e97b20566095!2zQWxlamEgR3J1bndhbGR6a2EgNDcyYywgODAtMzA5IEdkYcWEc2ssINCf0L7Qu9GM0YnQsA!5e0!3m2!1suk!2sua!4v1665571697147!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      <a 
        class="contacts-modal-form-btn location"
        target="_blank"
        href="https://goo.gl/maps/GcAWXVkWYvkYx3WE9">
        Open map
      </a>
    </form>
  </div>
</div>

<!-- Модальне вікно "Франшиза" -->
<div class="backdrop is-hidden" data-modal="6">
  <div class="contacts-modal">
    <button class="contacts-modal-btn" data-modal-close="6">
      <svg class="contacts-modal-close">
        <use href="./images/icons.svg#icon-close-m"></use>
      </svg>
    </button>
    
    <form class="contacts-modal-form">
      <h2 class="contacts-modal-title">
        Thank you for your interest in owning an Ice Cream shop
      </h2>
      <p class="contacts-modal-description">
        Due to the overwhelming volume of franchise requests we are not accepting
        new franchisee applications at this time. Once the application process
        resumes, we will contact you for further information. Please fill out the
        contact information below and we will reach out for additional
        information. We appreciate your patience.
      </p>
      <div class="contacts-modal-field">
          <input type="text" name="name" id="user_name" placeholder="Name" pattern="[A-Za-z]{1,32}"
          required/>
      </div>
      <div class="contacts-modal-field">            
          <input type="tel" name="tel" id="user_tel" placeholder="Phone" pattern="[+,0-9]{10,15}"
          required/>
      </div>
      <div class="contacts-modal-field">
          <input type="email" name="email" id="user_email" placeholder="Email" 
          required/>
      </div>
      <div class="contacts-modal-field">
          <textarea name="comment" id="comment" placeholder="Comment"></textarea>
      </div>
      <button type="button" class="contacts-modal-form-btn franshise">Submit</button>
    </form>
  </div>
</div>
