<footer class="footer">
  <div class="container container-footer">
    <div class="footer-flex">
      <div class="card-footer">
        <p class="card-footer__title">
          HOMEMADE ICE CREAM <br />
          MADE
        </p>
        <p class="card-footer__subtitle">
          WITH <br />
          PASSION
        </p>
      </div>
      <div class="contact">
        <ul class="social__list">
          <li class="social__item">
            <a
              href="https://github.com/"
              target="_blank"
              rel="noreferrer noopener"
              class="social__link"
            >
              <svg class="soc-icon" width="20" height="20">
                <use href="./images/header/icons.svg#github"></use></svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://web.telegram.org/"
              target="_blank"
              rel="noreferrer noopener"
              class="social__link"
            >
              <svg class="soc-icon" width="20" height="16">
                <use href="./images/header/icons.svg#telegram"></use></svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com/"
              target="_blank" 
              rel="noreferrer noopener"
              class="social__link" >
              <svg class="soc-icon" width="9" height="20">
                <use href="./images/header/icons.svg#facebook"></use></svg>
            </a>
          </li>
        </ul>

        <span class="contact__tel"
          >Feel free to contact
          <a href="tel:+610383766284" class="contact__tel contact__tel--white">
            +61 (0) 383 766 284</a
          >
        </span>
      </div>
    </div>
    <p class="rights">
      © 2022 - IceCream. <br />
      All Rights Reserved.
    </p>
  </div>
</footer>
