<div class="backdrop is-hidden" data-modal="6">
    <div class="franchise">
      <button class="franchise__modal-btn" type="button" data-modal-close="6">
        <svg class="franchise__close-modal" width="24" height="24">
          <use href="./images/icons.svg#icon-close-m"></use>
        </svg>
      </button>
      <h2 class="franchise__text title">
        Thank you for your interest in owning an Ice Cream shop
      </h2>
      <p class="franchise__offer">
        Due to the overwhelming volume of franchise requests we are not accepting
        new franchisee applications at this time. Once the application process
        resumes, we will contact you for further information. Please fill out the
        contact information below and we will reach out for additional
        information. We appreciate your patience.
      </p>
      <include src="./partials/form.html"></include>
    </div>
  </div>