<header class="header">
  <div class="container flex-container">
    <a href="./index.html" class="logo">
      <img 
      srcset="
      ./images/header/logo_40.png 40w,  
      ./images/header/logo_48.png 48w, 
      ./images/header/logo_60.png 60w,
      ./images/header/logo_80.png 80w,
      ./images/header/logo_96.png 96w,
      ./images/header/logo_120.png 120w
      "
      sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (min-width: 480px) 40px, 100vw"
      src="./images/header/logo_40.png" 
      alt="Логотип сайту" 
      width="40" 
      height="37" 
      loading="lazy" 
      />
    </a>

    <!--Navigation-->
    <nav class="navigation-container"></nav>
    <ul class="navigation">
      <li class="navigation__item">
        <a href="./index.html" class="navigation__link">Home</a>
      </li>
      <li class="navigation__item">
        <a href="#advantages" class="navigation__link">How it’s made?</a>
      </li>
      <li class="navigation__item">
        <a href="#products" class="navigation__link">Our products</a>
      </li>
      <li class="navigation__item">
        <a href="#contacts" class="navigation__link">Contact</a>
      </li>
    </ul>
    </nav>

    <button 
    class="menu-toggle data-menu-open" 
    aria-expanded="false" 
    aria-controls="mobile-menu"
    >
    <svg class="icon-menu_open" width="32" height="32">
      <use href="./images/header/icons.svg#icon_open"></use>
    </svg>    
  </button>

    <button type="button" class="button" data-modal-open>Buy now
      <svg class="icon-arrow" width="12" height="12">
        <use href="./images/header/icons.svg#arrow-right-bold"></use>
      </svg>
    </button>


      <!--Mobile menu-->   
    <div class="menu-container header__sliding-menu" id="mobile-menu">
      <button class="menu-toggle data-menu-close">
        <svg class="icon-menu_close" width="32" height="32">
          <use href="./images/header/icons.svg#icon_close"></use>
        </svg>
      </button>

      <ul class="mobile-nav">
        <li class="mobile-nav__item">
          <a href="#Home" class="mobile-nav__link current">Home</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#How it’s made?" class="mobile-nav__link">How it’s made?</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#Our products" class="mobile-nav__link">Our products</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#Contact" class="mobile-nav__link">Contact</a>
        </li>
      </ul>

      <button type="button" class="button" data-modal-open>Buy now
        <svg class="icon-arrow" width="12" height="12">
          <use href="./images/header/icons.svg#arrow-right-bold"></use>
        </svg>
      </button>      


      <!--Modal menu-->


    </div>
  </div>
</header>