<header class="header" id="header">
    <div class="container">
        <nav class="header__nav">
            <!-- Header logo  -->
            <a href="./index.html" class="header__logo-link">
                <img src="./images/header/logo-header.png" alt="Logo og the Ice Cream Company" />
            </a>
            <!-- Header nav-->
            <ul class="header__nav_list">
                <li class="header__list-item">
                    <a class="header__list-link" href="#header">Home</a>
                </li>
                <li class="header__list-item">
                    <a class="header__list-link" href="#about">How it’s made?</a>
                </li>
                <li class="header__list-item">
                    <a class="header__list-link" href="#products">Our products</a>
                </li>
                <li class="header__list-item">
                    <a class="header__list-link" href="#contacts">Contact</a>
                </li>
            </ul>
            <!-- Header BURGER -->
            <button class="header__btn-open" data-menu-open>
                <!-- <svg width="32" height="32">
                    <use href="./icons/icons.svg#burger"></use>
                </svg> -->
            </button>

            <!-- Header button buy-->
            <button class="header__buy-now btn" type="button" data-modal-open="0">
                Buy now
                <!-- <svg width="12" height="12">
                    <use href="./icons/icons.svg#about__icon"></use>
                </svg> -->
            </button>
        </nav>
    </div>
</header>

<!-- -------------------------------------------------------- -->
<!-- Header navmenu -->
<!-- -------------------------------------------------------- -->
<div class="header__sliding-menu">
    <div class="header__sliding-menu-top">
        <a href="./index.html" class="header__logo-link header__logo-link--menu">
            <img src="./images/header/logo-header.png" alt="Logo og the Ice Cream Company" />
        </a>
        <button type="button" aria-expanded="false" data-menu-close class="header__burger-close">
            <!-- <svg width="32" height="32">
                <use href="./icons/icons.svg#burger-close"></use>
            </svg> -->
        </button>
    </div>
    <nav>
        <ul class="header__nav_list header__nav_list--mobile">
            <li class="header__list-item">
                <a href="#header" class="header__slider-link">Home</a>
            </li>
            <li class="header__list-item">
                <a href="#about" class="header__slider-link current">How it’s made?</a>
            </li>
            <li class="header__list-item">
                <a href="#products" class="header__slider-link">Our products</a>
            </li>
            <li class="header__list-item">
                <a href="#contacts" class="header__slider-link">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__sliding-menu-bottom">
        <button class="btn menu-buy-btn" type="submit" data-modal-open="0">
            Buy now
            <!-- <svg width="12" height="12">
                <use href="./icons/icons.svg#about__icon"></use>
            </svg> -->
        </button>
    </div>
</div>