<div class="location backdrop is-hidden" data-modal="5">
    <div class="location__block">
      <button class="location__modal-btn" type="button" data-modal-close="5">
        <svg class="location__close-modal" width="24" height="24">
          <use href="./images/icons.svg#icon-close-m"></use>
        </svg>
      </button>
      <h2 class="location__text title">Our Locations</h2>
      <iframe
        class="location__picture"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2322.371221614389!2d18.570346799999996!3d54.403420399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd752e64ecb627%3A0x85a6e97b20566095!2zQWxlamEgR3J1bndhbGR6a2EgNDcyYywgODAtMzA5IEdkYcWEc2ssINCf0L7Qu9GM0YnQsA!5e0!3m2!1suk!2sua!4v1665571697147!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="location__wrap">
        <a
          target="_blank"
          class="btn location__btn"
          href="https://goo.gl/maps/GcAWXVkWYvkYx3WE9"
          >Open map</a
        >
      </div>
    </div>
  </div>