<div class="ingredients__backdrop backdrop is-hidden" data-modal="888">
    <div class="ingredients">
        <button class="ingredients__btn-close" data-modal-close="888">
            <svg class="ingredients__close-icon">
                <use href="./images/modal-mob-menu/modal_x.svg#cross"></use>
            </svg>
        </button>
        <h2 class="ingredients__title">Chololate icecream</h2>
        <div class="ingredients__box">
            <img
        srcset="./images/modal-ingredients/img132.jpg 132w,
        ./images/modal-ingredients/img264.jpg 264w"
        sizes="(min-width: 480px) 132px, 100vw"
        src="./images/modal-ingredients/img132.jpg"
        alt="Ingredients"
        width="132"
        height="132"
        class="ingredients__image"/>
        </div>
        <div class="ingredients__nutrition">
            <ul class="ingredients__list">
                <li class="ingredients__element">
                    <div class="ingredients__thumb"><span class="ingedients__numbers">320</span></div>
                <p class="ingredients__words">kcal</p></li>
                <li class="ingredients__element"><div class="ingredients__thumb"><span class="ingedients__numbers">4g</span></div>
                    <p class="ingredients__words">Prote...</p></li>
                    <li class="ingredients__element"><div class="ingredients__thumb"><span class="ingedients__numbers">8,2g</span></div>
                        <p class="ingredients__words">Fats</p></li>
                        <li class="ingredients__element"><div class="ingredients__thumb"><span class="ingedients__numbers">40,4g</span></div>
                            <p class="ingredients__words">Carbs</p></li>
            </ul>
        </div>
        <h3 class="ingredients__name">Ingredients</h3>
        <div class="ingredients__components">
            <ul class="ingredients__set">
                <li class="ingredients__item">
                    <span class="ingredients__first">Milk</span>
                    <span class="ingredients__second">100ml</span>
                </li>
                <li class="ingredients__item">
                    <span class="ingredients__first">Belgian chocolate</span>
                    <span class="ingredients__second">20g</span>
                </li>
                <li class="ingredients__item">
                    <span class="ingredients__first">Cream</span>
                    <span class="ingredients__second">150 ml</span>
                </li>
                <li class="ingredients__item">
                    <span class="ingredients__first">Cocoa powder</span>
                    <span class="ingredients__second">30g</span>
                </li>
                <li class="ingredients__item">
                    <span class="ingredients__first">Sugar</span>
                    <span class="ingredients__second">40g</span>
                </li>
                <li class="ingredients__item">
                    <span class="ingredients__first">Vanilla sugar</span>
                    <span class="ingredients__second">10g</span>
                </li>
            </ul>
        </div>
        <div class="ingredients__form">
            <label class="ingredients__label" for="name">
            <input
              class="ingredients__input"
              type="text"
              name="name"
              id="name"
              placeholder="Name"
            /></label>
            <label class="ingredients__label" for="tel"> 
            <input
              class="ingredients__input"
              type="tel"
              name="phone"
              id="tel"
              placeholder="Phone"
            /></label>
            <label for="comment"> 
            <textarea
              class="ingredients__textarea"
              name="comment"
              rows="2"
              id="comment"
              placeholder="Comment"
            ></textarea></label>
          </div>
          <button class="ingredients__button" type="submit" data-modal-close='888'>Submit</button>
        </form>
    </div>
    </div>
    <script src="./js/modal-ingredients.js"></script>