<section class="product">
    <p class="product__label">100% natural</p>
    <h2 class="product__title">products</h2>
    <ul class="product-list list">
        <li class="product__item product__item--first">
            <div class="product__decor product__decor--first"></div>
            <h3 class="product-list__title">ice cream</h3>
            <p class="product-list__content">
                Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                natural stabilizer  
            </p>
            <button type="button" class="product-list__btn">
                <!-- <svg width="40" height="16">
                    <use href=""></use>
                </svg> -->
            </button>
        </li>
        <li class="product__item product__item--second">
            <div class="product__decor product__decor--second"></div>
            <h3 class="product-list__title">ice coffee</h3>
            <p class="product-list__content">
                Fragrant invigorating drink created from 100% natural ingredients
                without the use of preservatives and flavor enhancers
            </p>
            <button type="button" class="product-list__btn">
                <!-- <svg width="40" height="16">
                    <use href=""></use>
                </svg> -->
            </button>
        </li>
        <li class="product__item product__item--third">
            <div class="product__decor product__decor--third"></div>
            <h3 class="product-list__title">milkshakes</h3>
            <p class="product-list__content">
                Sweet drinks based on milk and ice cream, supplemented with syrups,
                fruits, berries and other sweets of your choice
            </p>
            <button type="button" class="product-list__btn">
                <!-- <svg width="40" height="16">
                    <use href=""></use>
                </svg> -->
            </button>
        </li>
    </ul>
</section>