

<section class="reviews reviews-wrap">
  <div class="container">
    <h2 class="visually-hidden">Відгуки клієнтів</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="reviews__customer-foto"
            srcset="
              ./images/reviews/customer-foto1.jpg    1x,
              ./images/reviews/customer-foto1@2x.jpg 2x
            "
            src="./images/reviews/customer-foto1.jpg"
            alt="customer-Emily"
          />
          <p class="reviews__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="reviews__customer">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            class="reviews__customer-foto"
            srcset="
              ./images/reviews/customer-foto2.jpg    1x,
              ./images/reviews/customer-foto2@2x.jpg 2x
            "
            src="./images/reviews/customer-foto2.jpg"
            alt="customer-Bryan"
          />
          <p class="reviews__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <p class="reviews__customer">Bryan, New-York</p>
        </div>
        <div class="swiper-slide">
          <img
            class="reviews__customer-foto"
            srcset="
              ./images/reviews/customer-foto3.jpg    1x,
              ./images/reviews/customer-foto3@2x.jpg 2x
            "
            src="./images/reviews/customer-foto3.jpg"
            alt="customer-Diana"
          />
          <p class="reviews__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <p class="reviews__customer">Diana, Chicago</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
