<!-- <section class="section">
    <div class="container section-container">
        <h2 class="visually-hidden">Відгуки клієнтів</h2>
        <img class="reviews__foto" srcset="
                        ./images/reviews/review-foto1m.jpg 280w,
                        ./images/reviews/review-foto1m@2x.jpg 560w,
                        ./images/reviews/review-foto1t.jpg 704w,
                        ./images/reviews/review-foto1d.jpg 1013w,
                        ./images/reviews/review-foto1t@2x.jpg 1408w,
                        ./images/reviews/review-foto1d@2x.jpg 2026w"
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 560px, 100vw"
            src="./images/reviews/review-foto1m.jpg" alt="foto ice-cream"> -->
        <!-- <img class="reviews__customer-foto"
            srcset="./images/reviews/customer-foto1.jpg 1x, ./images/reviews/customer-foto1@2x.jpg 2x"
            src="./images/reviews/customer-foto1.jpg" alt="customer-Emily">
        <p class="reviews__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
        <p class="reviews__customer">Emily, Los Angeles</p>
        <div class="pagination-wrapper">
            <ul class="pagination">
                <li class="active dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ul>
        </div>
    </div>  
</section> -->
<img class="reviews__customer-foto"
    srcset="./images/reviews/customer-foto1.jpg 1x, ./images/reviews/customer-foto1@2x.jpg 2x"
    src="./images/reviews/customer-foto1.jpg" alt="customer-Emily">
<p class="reviews__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
    addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
<p class="reviews__customer">Emily, Los Angeles</p>
<div class="pagination-wrapper">
    <ul class="pagination">
        <li class="active dot"></li>
        <li class="dot"></li>
        <li class="dot"></li>
    </ul>
</div>
</div>
</section>