.modal-about__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    overflow-y: scroll;

    @media screen and (max-width:767px) {
        padding-top: 93px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.modal-about__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
}

.modal-about {
    position: relative;
    margin-right: auto;
    margin-left: auto;

    width: 80vw;
    min-height: 50vh;
    padding: 28px;
    background-color: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        padding: 32px 60px 32px 60px;

        transform: translate(-50%, -50%) scale(1);
        min-width: 568px;
        max-width: 700px;
        min-height: 449px;

        .modal-readmore__backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0.9);
        }

    }
}

.modal-about__btn-close {
    position: absolute;
    width: 11pxpx;
    height: 11pxpx;
    top: 16px;
    right: 16px;
    border: 0px transparent;
    /*background-color: transparent;*/
    cursor: pointer;
    z-index: 6;
    padding: 0;

    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
    }
}

.modal-about__close-icon {
    width: 11px;
    height: 11px;
    fill:black;

    @media screen and (min-width:768px) {
        width: 20px;
        height: 20px;
    }
}

.modal-about__video {
    width: 100%;
    border: 0px transparent;

    @media screen and (min-width: 768px) {
        min-height: 210px;
    }
}

.modal-about__title {
    margin: 0 0 20px 0;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    color: #131313;
}

.modal-about__text {
    margin: 20px 0 0 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;

    color: #131313;
}
