.modal-about__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity $display-time $function-time, visibility $display-time $function-time;
    overflow-y: scroll;

    @media screen and (max-width: $tab) {
        padding-top: 93px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.modal-about__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-about {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
    padding: 28px;
    background-color: $white-color;
    border: 2px solid $default-color;
    border-radius: 10px;

    @media screen and (min-width: $tab) {
        position: absolute;
        z-index: $main-index;
        top: 50%;
        left: 50%;
        padding: 32px 60px 32px 60px;
        transition: transform $display-time $function-time;

        .modal-about__backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0.8);
        }

        transform: translate(-50%, -50%) scale(1);
        min-width: 568px;
        max-width: 700px;
        min-height: 449px;

    }
            
}

.modal-about__btn-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 16px;
    right: 16px;
    border: 0px transparent;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    z-index: $second-index;
    padding: 0;
    align-items: center;
    text-align: center;

    &:hover .modal-about__close-icon,
    &:focus .modal-about__close-icon {
        fill: $accent-color;
    }

    @media screen and (min-width: $tab) {
        width: 30px;
        height: 30px;
    }
}

.modal-about__close-icon {
    width: 15px;
    height: 15px;
    fill: $black-color;
    transition: fill $display-time $function-time;

    @media screen and (min-width: $tab) {
        width: 20px;
        height: 20px;
    }
}

.modal-about__video {
    width: 100%;
    border: 0px transparent;
    border-radius: 10px;

    @media screen and (min-width: $tab) {
        min-height: 210px;
    }
}

.modal-about__title {
    margin: 0 0 20px 0;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    color: $black-color;
}

.modal-about__text {
    margin: 20px 0 0 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;

    color: $black-color;
}
