.advantages__section {
    padding-top: 32px;
    padding-bottom: 32px;

    background-color: #84A178;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 80px;
    }

}

.advantages__hiddentitle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages__list {
    width: calc(100% - 170px);
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 80px;
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        gap: 32px;
    }
}

.advantages__item {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    transition: transform 750ms ease;
    
        &:hover,
        &:focus {
            transform: scale(1.1);
        }

    &::before {
            content: "";
            display: inline-block;
            height: 50px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 28px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 80px)/ 3);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 2 * 32px)/ 3);
    }
}

.advantages__item--cow {
    &::before {
            background-image: url(../images/advantages/cowicon.png);
        }
}

.advantages__item--weight {
    &::before {
        background-image: url(../images/advantages/weighticon.png);
        
        }
    
}

.advantages__item--icecream {
    &::before {
            background-image: url(../images/advantages/icecreamicon.png);
        }
}
.advantages__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FCFCFC;

    margin: 32px 0 12px 0;

    @media screen and (min-width:768px) {
        font-size: 48px;
    }

    @media screen and (min-width:1200px) {
        font-size: 58px;
    }
}

.advantages__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    text-align: center;

    color: #FCFCFC;

    margin: 0;
    padding: 0;

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.76;
    }
}