.footer {
    padding-bottom: 20px;
    background-color: $background-color;
    position: relative;

    @media screen and (min-width: $tab) {
        padding-bottom: 12px;
    }
}

.card-footer {
    margin-bottom: 60px;

    @media screen and (min-width: $tab) {
        margin-bottom: 44px;
    }
}

.card-footer__title {
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: $white-color;
}
.card-footer__subtitle {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    color: $white-color;
}

.social__list {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: $tab) {
        margin-bottom: 34px;
    }
}


.social__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;

    fill: $background-color;
    background-color: $default-color;
    border-radius: 50%;
    transition: fill $display-time $function-time;

    &:hover .soc-icon,
    &:focus .soc-icon {
      fill: $white-color;
    }
}




.contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    margin-bottom: 60px;

    @media screen and (min-width: $tab) {
        margin-bottom: 72px;
    }
}


.contact__tel {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: $black-color
}
.contact__tel--white {
    text-decoration: none;

    transition: color $accent-color $display-time $function-time;
    color: $white-color;
}
.rights {
   display: block;

   @media screen and (min-width: $tab) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }

   &::before {
       content: "";
       position: absolute;
       width: 100%;
       left: 1px;
       bottom: 85px;
       border: 1px solid;
       color: #E1E1E1;
    
    }
}
.rights__right,
.rights__left {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #7a7a7a;
}

