.header {
  padding-top: 12px;

  @media screen and (min-width: $tab) {
    padding-top: 20px;
  }

  @media screen and (min-width: $desk) {
    padding-top: 8px;
  }

  & .flex-container {
    display: flex;
    align-items: center;

    @media screen and (min-width: $desk) {
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}

.navigation-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: none;

  @media screen and (min-width: $desk) {
    display: flex;
  }
}
.navigation__item:not(:last-child) {
  margin-right: 28px;
}
.navigation__link {
  position: relative;
  display: block;

  padding-top: 32px;
  padding-bottom: 13px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fcfcfc;
  transition: color ease 750ms, transform ease 750ms;

  &:hover,
  &:focus {
    // transition: background-color $function-time $display-time;
    // animation: falls 1s ease forwards;

    color: $default-color;

    transform: scale(1.1);
    transition: color ease 750ms, transform ease 750ms;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 6px;
      bottom: -1px;
      border-radius: 10px;
      background-color: $default-color;
    }
  }
}



//button
.button {
  display: none;

  @media screen and (min-width: $tab) {
    display: flex;
    align-items: center;

    padding: 12px 36px;
    margin-left: 32px;

    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;

    cursor: pointer;
    border-color: transparent;
    border-radius: 10px;
    color: #000;
    background-color: #f8d24e;
    transition: background-color ease 750ms, box-shadow ease 750ms, animation ease 750ms ;
    // transition: background-color $display-time $function-time;

    &:hover {
      background-color: $accent-color;

      animation: wiggle 750ms infinite;
      animation-timing-function: linear;
      box-shadow: -5px -5px 5px 0 $default-color;
      @keyframes wiggle {
        0% {
          transform: translate(2px, 0);
        }
        50% {
          transform: translate(-2px, 0);
        }
        100% {
          transform: translate(2px, 0);
        }
      }
    }

    &:focus {
      fill: #fff;
      color: #fff;
      background-color: $accent-color;

      animation: wiggle 750ms infinite;
      animation-timing-function: linear;
      box-shadow: -5px -5px 5px 0 $default-color;
      @keyframes wiggle {
        0% {
          transform: translate(2px, 0);
        }
        50% {
          transform: translate(-2px, 0);
        }
        100% {
          transform: translate(2px, 0);
        }
      }
    }
    &:disabled {
      background-color: $disabled-color;
    }
  }
}

.icon-arrow {
  margin-left: 4px;
}

//mobile menu
.menu-toggle {
  min-height: 32px;
  min-width: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media screen and (min-width: $desk) {
    display: none;
  }
}
.icon-menu_open,
.icon-menu_close {
  fill: #fff;
  transition: all ease 500ms;
}

.flex-container .menu-toggle:hover,
.flex-container .menu-toggle:focus {
  // transition: $function-time $display-time;
  transition: all ease 500ms;

  & .icon-menu_open,
  & .icon-menu_open {
    fill: $default-color;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 0 32px;
  padding-top: 12px;
  padding-bottom: 64px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  background-color: $background-color;
  z-index: 1;

  transform: translateX(100%);
  transition: transform $display-time $function-time;

  @media screen and (min-width: $desk) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;

  &:hover,
  &:focus {
    transition: $function-time $display-time;
  }

  &:hover .icon-menu_close,
  &:focus .icon-menu_close {
    fill: $default-color;
  }
}

.logo-mobile {
  margin-bottom: 51px;
}
.menu-flex {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.mobile-nav {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    margin-bottom: 110px;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    position: relative;
    font-weight: 700;
    font-size: 31px;
    line-height: 1.2;

    color: $white-color;
    transition: color ease 500ms;

    &:hover,
    &:focus {
      color: $black-color;
      transition: color ease 500ms, box-shadow ease 500ms;
      box-shadow: 0 5px 1px -1px #f8d24e;
    }
  }
}
.button-flex {

    display: flex;
    align-items: center;
    justify-content: center;

}
.button__button--mobile {
  display: flex;
  align-items: center;

  padding: 12px 36px;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  cursor: pointer;
  border-color: transparent;
  border-radius: 10px;
  color: #000;
  background-color: #f8d24e;
  // transition: color $display-time $function-time;
  transition: background-color ease 750ms, box-shadow ease 750ms;

  &:hover {
    background-color: $accent-color;

    animation: wiggle 750ms infinite;
    animation-timing-function: linear;
    box-shadow: -5px -5px 5px 0 $default-color;
    @keyframes wiggle {
      0% {
        transform: translate(2px, 0);
      }
      50% {
        transform: translate(-2px, 0);
      }
      100% {
        transform: translate(2px, 0);
      }
    }
  }
  &:focus {
    fill: #fff;
    color: #fff;
    background-color: $accent-color;

    animation: wiggle 750ms infinite;
    animation-timing-function: linear;
    box-shadow: -5px -5px 5px 0 $default-color;
    @keyframes wiggle {
      0% {
        transform: translate(2px, 0);
      }
      50% {
        transform: translate(-2px, 0);
      }
      100% {
        transform: translate(2px, 0);
      }
    }
  }
  &:disabled {
    background-color: $disabled-color;
  }

  @media screen and (min-width: $tab) {
    display: none;
  }
}

//Modal menu
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: scroll;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  transition: opacity $display-time $function-time,
    visibility $display-time $function-time,
    transform $display-time $function-time;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}
.modal-hd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 280px;
  padding: 28px;

  background-color: $white-color;
  border: 2px solid $default-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform $display-time $function-time,
    visibility $display-time $function-time;

  //   visibility: visible;

  @media screen and (min-width: $desk) {
    min-width: 568px;
    padding: 32px 54px;
  }
}

.modal__button {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  cursor: pointer;
  border: transparent;
  background-color: transparent;
  transition: transform $display-time $function-time;

  &:hover,
  &:focus {
    fill: $default-color;

  }
}

//Forms
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__form {
  margin-bottom: 84px;

  text-align: center;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $black-color;

  @media screen and (min-width: $tab) {
    margin-bottom: 103px;

    font-size: 20px;
    line-height: 1.4;
  }
}

.card__list {
  @media screen and (min-width: $tab) {
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
  }
}
.card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 132px;
  margin-left: auto;
  margin-right: auto;
  padding: 95px 13px 20px 13px;
  margin-bottom: 34px;

  text-align: center;
  border-radius: 15px;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));

  &:not(:last-child) {
    @media screen and (max-width: 767.98px) {
      margin-bottom: 84px;
    }
  }

  &--first {
    border: 2px solid #96af8c;
  }

  &--second {
    background-color: #efd478;
    border: 2px solid #efd478;
  }

  &--third {
    border: 2px solid #d6936d;
  }
}

//   // @media screen and (max-width: 767px) {
//   //     max-width: 440px;
//   // }

//   // @media screen and (min-width: $tab) {
//   //     min-width: 224px;
//   //     flex-basis: calc((100% - 32px) / 2);
//   //     min-height: 430px;
//   //     padding: 108px 26px 12px 26px;
//   // }

//   // @media screen and (min-width: $desk) {
//   //     flex-basis: calc((100% - 58px) / 2);
//   //     min-height: 540px;
//   //     padding: 165px 64px 60px 64px;
//   // }

//   // &:not(:last-child) {
//   //     @media screen and (max-width: 767px) {
//   //         margin-bottom: 168px;
//   //     }
//   // }

// }

.card__decor {
  position: absolute;
  top: 0;
  left: 50%;

  width: 132px;
  height: 132px;

  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

  //   display: block;

  &--first {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  &--second {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  &--third {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }

  &::before {
    content: '';
    position: absolute;
    top: -11px;
    left: 0;
    border-radius: 50%;
    width: 132px;
    height: 132px;
    display: block;
  }
  //   height: 300px;
  // }
  // @media screen and (min-width: $desk) {     //   top: -16px;     //   width: 300px;

  &--first::before {
    background-image: url(../images/header/img-1_132.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/img-1_264.jpg);
    }
  }

  &--second::before {
    background-image: url(../images/header/img-2_132.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/img-2_264.jpg);
    }
  }

  &--third::before {
    background-image: url(../images/header/img-3_132.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/img-3_264.jpg);
    }
  }
}

.card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $black-color;
}
//   // @media screen and (min-width: $tab) {
//   //     font-size: 22px;
//   // }

//   // @media screen and (min-width: $desk) {
//   //     font-size: 30px;
//   // }
// }

.form__field:not(:last-child) {
  margin-bottom: 12px;

  @media screen and (min-width: $tab) {
    margin-bottom: 16px;
  }
}
.form__comment {
  margin-bottom: 26px;

  @media screen and (min-width: $tab) {
    margin-bottom: 32px;
  }
}

.form__field input,
.form__comment textarea {
  padding: 8px 12px;

  width: 100%;
  height: 40px;

  cursor: pointer;
  outline: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $background-color;
  border-radius: 10px;
  transition: $function-time $display-time;

  @media screen and (min-width: $tab) {
    padding: 11px 16px;
    height: 42px;
    min-width: 368px;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.4;
    color: $black-color;

    @media screen and (min-width: $tab) {
      font-size: 14px;
    }
  }

  &:hover,
  &:focus {
    border: border $accent-color;
  }
}

.form__field input:not(:placeholder-shown):required:valid {
  border-color: $background-color;
}
.form__field input:not(:placeholder-shown):required:invalid {
  border-color: red;
}
.form__comment textarea {
  height: auto;
  resize: none;
}
.button__button--modal {
  display: block;

  margin: auto;
  padding: 12px 34px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  cursor: pointer;
  border: transparent;
  color: $black-color;
  border-radius: 10px;
  background: $default-color;
  transition: transform ease 750ms, background-color ease 750ms, box-shadow ease 750ms;


  @media screen and (min-width: $tab) {
    font-size: 124x;
    line-height: 1.2;
  }

  &:hover {
    background-color: $accent-color;
    animation: wiggle 750ms infinite;
    animation-timing-function: linear;
    box-shadow: -5px -5px 5px 0 $default-color;
    @keyframes wiggle {
      0% {
        transform: translate(2px, 0);
      }
      50% {
        transform: translate(-2px, 0);
      }
      100% {
        transform: translate(2px, 0);
      }
    }
  }
  &:focus {
    background-color: $accent-color;
    color: #fff;
    animation: wiggle 750ms infinite;
    animation-timing-function: linear;
    box-shadow: -5px -5px 5px 0 $default-color;
    @keyframes wiggle {
      0% {
        transform: translate(2px, 0);
      }
      50% {
        transform: translate(-2px, 0);
      }
      100% {
        transform: translate(2px, 0);
      }
    }
  }
}
