.header {
  padding-top: 12px;

  @media screen and (min-width: $tab) {
    padding-top: 20px; 
  }

  @media screen and (min-width: $desk) {
    padding-top: 8px; 
  }

  & .flex-container {
  display: flex;
  align-items: center;    

    @media screen and (min-width: $desk) {
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}  

.navigation-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: none;

    @media screen and (min-width: $desk) {
      display: flex;
    }
}
.navigation__item:not(:last-child) {
  margin-right: 28px;
}
.navigation__link {
  display: block;

  padding-top: 32px;
  padding-bottom: 13px;

  font-weight: 700;
  font-size: 16px; 
  line-height: 1.25;
  color: #FCFCFC;

  &:hover,
  &:focus {
    color: $default-color;
    transition: background-color $function-time $display-time;
  }

}


//button
.button {
  display: none;

  @media screen and (min-width: $tab) {
    display: flex;
    align-items: center;

    padding: 12px 36px;
    margin-left: 32px;

    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;

    cursor: pointer;
    border-color: transparent;
    border-radius: 10px;
    color: #000;
    background-color: #F8D24E;
    transition: background-color $display-time $function-time;

    &:hover {
      background-color: $accent-color;
    }
    &:focus {
      fill: #fff;
      color: #fff;
      background-color: $accent-color;
    }
    &:disabled {
      background-color: $disabled-color;
    }
  }
}
.icon-arrow {
  margin-left: 4px;
}



//mobile menu
.menu-toggle {
  min-height: 32px;
  min-width: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  

  @media screen and (min-width: $desk) {
   display: none;    
  }
}
.icon-menu_open,
.icon-menu_close {
  fill: #fff;
}

.flex-container .menu-toggle:hover,
.flex-container .menu-toggle:focus {
  transition: $function-time $display-time;

  & .icon-menu_open,
  & .icon-menu_open {
    fill: $default-color;
  }
}


.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 0 32px;
  padding-top: 12px;
  padding-bottom: 64px;

  display: flex;
  flex-direction: column;

  background-color: $background-color;
  z-index: 999;

  transform: translateX(100%);
  transition: transform $display-time $function-time;

  @media screen and (min-width: $desk) {
    
    display: none;    
   }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;

  &:hover,
  &:focus {
    transition: $function-time $display-time;
  }

  &:hover .icon-menu_close,
  &:focus .icon-menu_close {
    fill: $default-color;
  }
}

.logo-mobile {
  margin-bottom: 51px;
}
.menu-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-nav {  
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    margin-bottom:  110px;
  }

  &__item:not(:last-child){
    margin-bottom:  32px;
  }

  &__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;

    color: $white-color;

    &:hover,
    &:focus {
      color: $black-color;
      transition: background-color $function-time $display-time;
    }
  }
}

.button-mobile {

  display: flex;
  align-items: center;

  padding: 12px 36px;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  cursor: pointer;
  border-color: transparent;
  border-radius: 10px;
  color: #000;
  background-color: #F8D24E;
  transition: color $display-time $function-time;

  &:hover {
    background-color: $accent-color;
  }
  &:focus {
    fill: #fff;
    color: #fff;
    background-color: $accent-color;
  }
  &:disabled {
    background-color: $disabled-color;
  }

  @media screen and (min-width: $tab) {
    display: none;
  }
}

//Modal menu
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  transition: opacity $display-time $function-time, visibility $display-time $function-time,
  transform $display-time $function-time;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  & .modal {
   transform: translate(-50%, -50%) scale(0);
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 450px;
  padding: 40px;

  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform $display-time $function-time;

  @media screen and (min-width: $desk) {
    width: 568px;
    padding: 32px 54px;

  }
}
.modal-button {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  cursor: pointer;
  border: transparent;
  background-color: transparent;
  transition: transform $display-time $function-time;
  // fill $display-time $function-time, border $display-time $function-time;


  &:hover,
  &:focus {
    fill: $default-color;
  }
}  

