.hero {
  height: 405px;
  position: relative;
  @media screen and (min-width: $tab) {
    display: flex;
    height: 349px;
  }
  @media screen and (min-width: $desk) {
    height: 591px;
  }

  background-color: $background-color;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-image: url(../images/hero/background_mob@1x.png);
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/hero/background_mob@1x.png);
  }

  @media screen and (min-width: $tab) {
    background-image: url(../images/hero/background_tab@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/background_tab@2x.png);
    }
  }

  @media screen and (min-width: $desk) {
    background-image: url(../images/hero/background_desk@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/background_desk@2x.png);
    }
  }
}
.hero__left {
  margin-top: 50px;
  margin-bottom: 19px;
  @media screen and (min-width: $tab) {
    margin-top: 14px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $desk) {
    margin-top: 45px;
  }
}
.hero__main {
  @media screen and (min-width: $tab) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: $desk) {
    margin-bottom: 42px;
  }
}
.hero__title {
  width: 280px;
  margin-bottom: 32px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-transform: uppercase;
  color: $white-color;
  @media screen and (min-width: $tab) {
    margin-bottom: 24px;
    font-size: 26px;
  }
  @media screen and (min-width: $desk) {
    margin-bottom: 28px;
    width: 367px;
    font-size: 38px;
  }
}
.main-btn {
  display: flex;
  align-items: center;
}
.main-btn__prod {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 11px 26px;
  border: 2px solid $default-color;
  border-radius: 10px;
  margin-right: 12px;

  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.29;
  color: #000000;

  &:hover {
    border: 2px solid $accent-color;
  }
  &:focus {
    color: $white-color;
    border: 2px solid $accent-color;
  }
  &:disabled {
    border: 2px solid $disabled-color;
  }

  @media screen and (min-width: $desk) {
    font-size: 14px;
  }
}
.main-btn__how {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.29;
  text-decoration-line: underline;

  color: $default-color;

  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $white-color;
  }
  &:disabled {
    color: $disabled-color;
  }
  @media screen and (min-width: $tab) {
    padding: 5px 13px;
  }
  @media screen and (min-width: $desk) {
    font-size: 14px;
    padding: 10px 26px;
  }
}
.main__img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  @media screen and (min-width: $tab) {
    transform: translate(0, -100%);
  }
  @media screen and (min-width: $desk) {
    transform: translate(10%, -100%);
  }
}
.hero-product {
  display: none;
  @media screen and (min-width: $tab) {
    display: flex;
    align-items: center;
  }
}
.hero-product__img {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(32px, 185px);
  }
  @media screen and (min-width: $desk) {
    transform: translate(16px, 301px);
  }
}
.hero-product__text {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.42;
    color: $white-color;

    width: 150px;
    margin-left: 184px;
  }
  @media screen and (min-width: $desk) {
    font-size: 14px;
    width: 200px;
    margin-top: 67px;
    margin-left: 241px;
  }
}
.hero-product__icon {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    margin-top: 12px;
    fill: $white-color;
  }
  @media screen and (min-width: $desk) {
    margin-top: 24px;
  }
}
.sale-place {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    max-width: 79px;
    margin-top: 53px;
    margin-left: auto;
  }
}
.sale-place__text {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.21;

    text-align: right;

    color: $white-color;
  }
  @media screen and (min-width: $desk) {
    font-size: 14px;
  }
}
.sale-place__number {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    text-transform: uppercase;

    color: $black-color;
  }
  @media screen and (min-width: $desk) {
    font-size: 46px;
  }
}
