.hero-container {
  height: 453px;
  position: relative;
  @media screen and (min-width: $tab) {
    display: flex;
    height: 349px;
  }
  @media screen and (min-width: $desk) {
    height: 591px;
  }

  background-color: $background-color;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-image: url(../images/hero/background_mob@1x.png);
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/hero/background_mob@1x.png);
  }

  @media screen and (min-width: $tab) {
    background-image: url(../images/hero/background_tab@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/background_tab@2x.png);
    }
  }

  @media screen and (min-width: $desk) {
    background-image: url(../images/hero/background_desk@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/background_desk@2x.png);
    }
  }
}
.hero__left {
  padding-top: 50px;
  @media screen and (min-width: $tab) {
    padding-top: 14px;
  }
  @media screen and (min-width: $desk) {
    padding-top: 45px;
  }
}
.hero__main {
  @media screen and (min-width: $tab) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: $desk) {
    margin-bottom: 42px;
  }
}
.hero__title {
  width: 280px;
  margin-bottom: 32px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-transform: uppercase;
  color: $white-color;
  @media screen and (min-width: $tab) {
    margin-bottom: 24px;
    font-size: 26px;
  }
  @media screen and (min-width: $desk) {
    margin-bottom: 28px;
    width: 367px;
    font-size: 38px;
  }
}
.main-btn {
  display: flex;
  align-items: center;
}
.main-btn__prod {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 11px 26px;
  border: 2px solid $default-color;
  border-radius: 10px;
  margin-right: 12px;

  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.29;
  color: #000000;

  transition-property: border, color;
  transition-duration: $display-time;
  transition-timing-function: $function-time;

 
    &:hover {
      background-color: $accent-color;

      animation: wiggle 750ms infinite;
      animation-timing-function: linear;
      box-shadow: -5px -5px 5px 0 $default-color;
      @keyframes wiggle {
        0% {
          transform: translate(2px, 0);
        }
        50% {
          transform: translate(-2px, 0);
        }
        100% {
          transform: translate(2px, 0);
        }
      }
    }

    &:focus {
      fill: #fff;
      color: #fff;
      background-color: $accent-color;

      animation: wiggle 750ms infinite;
      animation-timing-function: linear;
      box-shadow: -5px -5px 5px 0 $default-color;
      @keyframes wiggle {
        0% {
          transform: translate(2px, 0);
        }
        50% {
          transform: translate(-2px, 0);
        }
        100% {
          transform: translate(2px, 0);
        }
      }
    }
    &:disabled {
      background-color: $disabled-color;
    }
  }

.main-btn__how {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.29;
  text-decoration-line: underline;

  color: $default-color;

  transition-property: color;
  transition-duration: $display-time;
  transition-timing-function: $function-time;

  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $white-color;
  }
  &:disabled {
    color: $disabled-color;
  }
  @media screen and (min-width: $tab) {
    padding: 5px 13px;
  }
  @media screen and (min-width: $desk) {
    font-size: 14px;
    padding: 10px 26px;
  }
}
.main__img {
  position: absolute;
  top: 100%;
  left: 50%;

  animation: main__img-to-top-mob 1500ms ease-out 200ms both;

  @media screen and (min-width: $tab) {
    animation: main__img-to-left-tab 1500ms ease-out 200ms both;
  }
  @media screen and (min-width: $desk) {
    animation: main__img-to-left-desk 1500ms ease-out 200ms both;
  }
}

@keyframes main__img-to-top-mob {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -100%);
  }
}
@keyframes main__img-to-left-tab {
  0% {
    opacity: 0;
    transform: translate(50%, -100%);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translate(0, -100%);
  }
}
@keyframes main__img-to-left-desk {
  0% {
    opacity: 0;
    transform: translate(60%, -100%);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translate(10%, -100%);
  }
}

.hero-product {
  display: none;
  @media screen and (min-width: $tab) {
    display: flex;
    align-items: center;
  }
}
.hero-product__img {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    position: absolute;
    animation: hero-product__img-to-right-tab 1500ms ease-out 200ms both;
  }
  @media screen and (min-width: $desk) {
    animation: hero-product__img-to-right-desk 1500ms ease-out 200ms both;
  }
}

@keyframes hero-product__img-to-right-tab {
  0% {
    opacity: 0;
    transform: translate(-50%, 10%);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translate(0, 10%);
  }
}
@keyframes hero-product__img-to-right-desk {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.hero-product__text {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.42;
    color: $white-color;

    width: 150px;
    margin-left: 184px;
  }
  @media screen and (min-width: $desk) {
    font-size: 14px;
    width: 200px;
    margin-top: 67px;
    margin-left: 241px;
  }
}
.hero-product__icon {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    margin-top: 12px;
    fill: $white-color;
    transition: fill $display-time $function-time;

    &:hover,
    &:focus {
      fill: $black-color;
    }
  }
  @media screen and (min-width: $desk) {
    margin-top: 24px;
  }
}
.sale-place {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    max-width: 79px;
    margin-top: 53px;
    margin-left: auto;
  }
}
.sale-place__text {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.21;

    text-align: right;

    color: $white-color;
  }
  @media screen and (min-width: $desk) {
    font-size: 14px;
  }
}
.sale-place__number {
  display: none;
  @media screen and (min-width: $tab) {
    display: block;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    text-transform: uppercase;

    color: $black-color;
  }
  @media screen and (min-width: $desk) {
    font-size: 46px;
  }
}
