// /* Основні кольори */
// $white-color: #fcfcfc;
// $black-color: #131313;

// /* Колір фону*/
// $background-color: #84a278;

// /* Колір кнопок */
// $default-color: #f8d24e;
// $accent-color: #0a8817;
// $disabled-color: #ababab;

// /* Анімація */
// $display-time: $display-time;
// $function-time: $function-time;

// /* z-index */
// $main-index: 1000;
// $second-index: 100;
// $third-index: 10;

// $mob: 480px;
// $tab: 768px;
// $desk: 1200px;

// html {
//   scroll-behavior: smooth;
// }

// body {
//   font-family: 'Montserrat', sans-serif;
//   font-size: 14px;
//   letter-spacing: 0.04em;
//   background-color: $background-color;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// ul {
//   margin: 0;
//   padding: 0;
// }

// ul {
//   list-style: none;
// }

// a {
//   text-decoration: none;
//   cursor: pointer;
// }

// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }

// .container {
//   margin: 0 auto;
//   padding-left: 20px;
//   padding-right: 20px;
//   @media screen and (min-width: 480px) {
//     width: 480px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 768px;
//     padding-left: 32px;
//     padding-right: 32px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//     padding-left: 16px;
//     padding-right: 16px;
//   }
// }
// .list {
//   text-decoration: none;
//   list-style: none;
// }
// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.2);
//   opacity: 1;
//   visibility: visible;
//   transition: opacity $display-time, visibility $function-time;
//   transform: scale(1);
// }

// .backdrop.is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }

// .backdrop.is-hidden .modal {
//   visibility: hidden;
//   opacity: 1;
//   transform: translate(30%) scale(70%);
// }

  .modal {
    padding: 28px;
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 280px;
    min-height: 991px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform $display-time $function-time,
      visibility $display-time $function-time;
    background-color: $white-color;
    border: 2px solid $default-color;
    border-radius: 10px;

    @media screen and (min-width: $tab) {
      min-width: 568px;
      min-height: 644px;
      padding: 32px 54px;
    }
  }

  .modal__close {
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: $white-color;
    border: 1px solid $white-color;
    right: 12px;
    top: 12px;
    align-items: center;
    cursor: pointer;
  }

  .modal__button-X {
    background-color: $white-color;
    align-items: center;
    text-transform: none;
  }

  .modal__close:hover .button-X {
    fill: var(--cursor);
  }

  .order__text {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24px / 16px);
    color: $black-color;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    @media screen and (min-width: $tab) {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }

  .order__form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: $black-color;

    &:hover .order__img {
      fill: var(--cursor);
    }

    &:focus-within .order__img {
      fill: var(--cursor);
      border-color: var(--cursor);
    }
    @media screen and (min-width: $tab) {
      max-width: 368px;
      margin: 0 auto;
    }
  }

  .order__lable {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
  }

  .order__input {
    height: 32px;
    padding-left: 12px;
    padding-right: 8px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    cursor: pointer;
    transition: transform var(--animation), border var(--animation);
    &:hover,
    &:focus {
      border-color: var(--cursor);
      outline: var(--cursor);
      fill: var(--cursor);
    }
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;

    color: $black-color;
    @media screen and (min-width: $tab) {
      height: 42px;
      margin-bottom: 16px;
      font-size: 14px;
    }
  }

  .order__svg {
    position: relative;
  }

  .order__img {
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: var(--main-color-text);
    transition: transform var(--animation), fill var(--animation);
  }

  .order__textarea {
    margin-bottom: 26px;
    background-color: rgba(248, 210, 78, 0.1);
    font-style: normal;
    border: 1px solid #84a178;
    border-radius: 10px;
    height: 65px;
    resize: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: transform var(--animation), border var(--animation);
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;

    &:hover,
    &:focus {
      border-color: var(--cursor);
    }

    @media screen and (min-width: $tab) {
      height: 84px;
      margin-bottom: 32px;
      font-size: 14px;
    }
  }

  .submint {
    margin: 0 auto;
    padding: 12px 24px;
    background-color: $default-color;
    border: 1px solid $default-color;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $black-color;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15px / 12px);
    cursor: pointer;
    @media screen and (min-width: $tab) {
      font-size: 14px;
    }
  }

  .assortment__label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
  }
  .assortment__title {
    margin-bottom: 148px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .assortment__item {
    position: relative;
    width: 132px;
    height: 136px;
    padding-top: 96px;
    border-radius: 24px;
    text-align: center;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 93px;
      @media screen and (min-width: $tab) {
        margin-bottom: 40px;
      }
    }
    &--first {
      border: 2px solid #96af8c;
    }

    &--second {
      background-color: #efd478;
    }

    &--third {
      border: 2px solid #d6936d;
    }
  }
  .assortment__decor {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    width: 132px;
    height: 132px;
    &--first {
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    }

    &--second {
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    }

    &--third {
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    }
    &::before {
      content: ' ';
      position: absolute;
      top: -7px;
      left: 0;
      border-radius: 50%;
      width: 132px;
      height: 132px;
      display: block;
    }
    &--first::before {
      background-image: url(../images/modal-mob-menu/img1_@1x_132.jpg);
    }

    &--second::before {
      background-image: url(../images/modal-mob-menu/img2_@1x_132.jpg);
    }

    &--third::before {
      background-image: url(../images/modal-mob-menu/img3_@1x_132.jpg);
    }
  }
  .assortment-list {
    margin: 0 auto;
    padding-bottom: 32px;
    padding-top: 73px;
    @media screen and (min-width: $tab) {
      padding-top: 73px;
      display: flex;
      padding-bottom: 0;
    }
  }
  .assortment-list__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $black-color;
    @media screen and (min-width: $tab) {
      font-size: 16px;
    }
  }

  .assortment-list__content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.78;
    text-align: center;
    letter-spacing: 0.04em;
    // color: $black-color;
  }
