.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.i__button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    max-width: 216px;
    height: auto;
    color: var(--whete-letters);
    background: var(--fonbut);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    max-width: 568px;
    width: 100%;
    overflow-y: scroll;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
    .ingredients__modal {
        height: 968px;
        padding: 28px 20px;
    }
}

@media screen and (min-width: 768px) {
    .ingredients__modal {
        width: 568px;
        height: 996px;
        padding: 32px 40px;
    }
}

.backdrop.is-hidden .ingredients__modal {
    -webkit-transform: translate(-50%, -50%) scale(1.2) rotateZ(1turn);
    transform: translate(-50%, -50%) scale(1.2) rotateZ(1turn);
}

.ingredients__modalbtn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    padding: 0;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
}

.ingredients__modalbtn:focus>.ingredients__close--btn,
.ingredients__modalbtn:hover>.ingredients__close--btn {
    fill: #2196F3;
}

ul {
    padding-left: 0;
}

.ingredients__title {
    margin: 8px 49px 20px;
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #131313;
}

.ingredients__container {
    position: relative;
    display: block;
}

@media screen and (max-width: 767.98px) {
    .ingredients__container {
        margin: 20px 54px 22px 54px;
    }
}

.ingredients__box {
    position: absolute;
    display: block;
    height: 132px;
    width: 132px;
    margin-top: 7px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #D9D9D9;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    -webkit-box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
    z-index: 1;
}

@media screen and (min-width: 480px) {
    .ingredients__box {
        margin-left: 102px;
        margin-right: 102px;
    }
}

@media screen and (min-width: 768px) {
    .ingredients__box {
        margin-left: 178px;
        margin-right: 178px;
    }
}

.ingredients__picture {
    position: absolute;
    display: block;
    border-radius: 50%;
    z-index: 2;
}

@media screen and (min-width: 480px) {
    .ingredients__picture {
        margin-left: 102px;
        margin-right: 102px;
    }
}

@media screen and (min-width: 768px) {
    .ingredients__picture {
        margin-left: 178px;
        margin-right: 178px;
    }
}

.ingredients__center {
    display: block;
}

@media screen and (min-width: 480px) {
    .ingredients__center {
        margin-left: 102px;
        margin-right: 102px;
    }
}

@media screen and (min-width: 768px) {
    .ingredients__center {
        margin-left: 124px;
        margin-right: 124px;
    }
}

.ingredients__rates {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 182px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.ingredients__rates li:not(:last-child) {
    margin-right: 9px;
}

.ingredients__rectangle {
    position: relative;
    display: block;
    width: 53px;
    height: 72px;
    border: 2px solid #9CBE8F;
    border-radius: 40px;
}

@media screen and (min-width: 768px) {
    .ingredients__rectangle {
        width: 65px;
        height: 90px;
    }
}

.ingredients__word {
    position: absolute;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    color: #131313;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    .ingredients__word {
        font-size: 12;
        line-height: 1.25;
    }
}

.ingredients__word:nth-child(1) {
    left: 5px;
}

.ingredients__word:nth-child(2) {
    left: 62px;
}

.ingredients__word:nth-child(3) {
    left: 119px;
}

.ingredients__word:nth-child(4) {
    left: 176px;
}

.ingredients__circle {
    position: absolute;
    width: 43px;
    height: 43px;
    top: 0;
    background: #9CBE8F;
    border: 2px solid #9CBE8F;
    -webkit-box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 2.8;
    color: #131313;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .ingredients__circle {
        width: 53px;
        height: 53px;
    }
}

@media screen and (min-width: 768px) {
    .ingredients__circle {
        font-size: 12;
        line-height: 2.3333333333;
    }
}

.ingredients__circle:nth-child(1) {
    left: 5px;
}

.ingredients__circle:nth-child(2) {
    left: 62px;
}

.ingredients__circle:nth-child(3) {
    left: 119px;
}

.ingredients__circle:nth-child(4) {
    left: 176px;
}

.ingredients__ingredients {
    margin-top: 40px;
    margin-bottom: 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #131313;
}

.ingredients__recipe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}

.ingredients__scrip {
    list-style: none;
    padding-left: 0;
}

.ingredients__scrip li:not(:last-child) {
    margin-bottom: 11px;
}

.ingredients__scripright {
    list-style: none;
    margin-left: auto;
}

.ingredients__scripright li:not(:last-child) {
    margin-bottom: 11px;
}

.ingredients__group {
    margin-bottom: 24px;
}

@media screen and (min-width: 480px) {
    .ingredients__group {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 768px) {
    .ingredients__group {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.ingredients__field {
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 16px;
}

.ingredients__field:focus>input,
.ingredients__field:hover>input,
.ingredients__field:focus>textarea,
.ingredients__field:hover>textarea {
    border-color: #2196F3;
}

.ingredients__field:focus>.form-icon,
.ingredients__field:hover>.form-icon {
    fill: #2196F3;
}

.ingredients__input {
    display: block;
    max-width: 368px;
    width: 100%;
    height: 42px;
    padding-left: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients__name {
    position: absolute;
    top: 11px;
    left: 11px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
}

.ingredients__comment {
    padding: 11px;
    max-width: 370px;
    width: 100%;
    height: 84px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients__comment::-webkit-input-placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
}

.ingredients__comment::-moz-placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
}

.ingredients__comment:-ms-input-placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
}

.ingredients__comment::-ms-input-placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
}

.ingredients__comment::placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
}

.ingredients__btn {
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 132px;
    height: 42px;
    background: #F8D24E;
    border-radius: 10px;
    border: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2142857143;
    color: #131313;
    cursor: pointer;
}